/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
input#search {
    height: 3em;
    width: 20em;
}

input#check-in {
    height: 3.1em;
}

input#check-out {
    height: 3.1em;
}

.search input[type="submit"] {
    height: 3.3em;
    width: 6em;
    background-color: #ff5a5f;
}

/*Search area styling*/
.search {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

/*Search area wrapper*/
.search-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

/**/
body{
    margin:0px;
}

/**/
.main {
    max-width: 1200px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}
/*Header styling*/
.header-wrapper {
    height: 15em;
    background-color: rgb(155, 237, 155);
}

.header-content{
    max-width: 1200px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.header-content2 {
    float: right;
    padding-right: 2em;
}

.header-content2 a {
    padding: 5px;
}